

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16;
  background-color: #f4f4f4;
}
.header{
  text-align: center;
  font-size: 1.3rem;
  margin: 4rem auto 4rem;
}


.image-pri{
  display: block;
  font-size: 0.5rem;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 0.58rem;
  transition: transform 0.3s ease 0.1s; 

}

.image-pri:hover{
  transform: scale(1.2);
  
  
}

.about-section{
  margin: 4rem auto 0rem;
  display: flex;
  flex-direction: row;
  padding : 1.6rem;
  gap: 1.6rem;
  background-color:#fff;
  margin: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.about-section-header{
  font-size: 1.3rem;
  display: block;
  background-color: #fff;
}
.about-section-p{
  font-size: 1rem;
  display: block;
  margin-left: 1.6rem;
  text-align: justify;
  background-color: #fff;
}
.grid-section,.grid-content,.grid-header{
  background-color: #fff;
}
.grid-section{
  margin: 4rem auto 0rem;
  display: grid;
  padding: 1.6rem;
  margin: 3rem;
  border-radius: 1.5rem;
  background: #fff;
}
.grid-header{
  margin-bottom: 1rem;
}
.grid-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.5rem;
  justify-items: center;
  align-items: center;
  background: #fff;

  
}
.card{
  display: inline-block;
  
  background: white;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img{
  display: block;
  width: 100%;
  height: auto;
  background: white;
}

